body {
	margin: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	line-height: 30px;
}


header{
	background-color: lightblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

body h1{
	color:  greenyellow;
	font-size: 60px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px white;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}



main h2{
	font-size: 50px;
	margin: 40px 0 10px;
}





footer{
	background-color: lightblue;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
	color:  white;
	font-size: 20px;
}

footer a{
	color: skyblue;
}


  

   